.app{
    width: 500px;
    margin: 0 auto;
}
.todo-template{
    h1{
    text-align: center;
    padding: 10px 0;
    background-color: aqua;
    color: #fff;
    }
}
.todo-insert{
    display: flex;
    justify-content: space-between;
    input{
        flex: 1;
        font-size: 1.5rem;
        background-color: #222;
        color: #fff;
        border: none;
        outline: none;
        &::placeholder{
            color: #fff;
        }
    }
    button{
        background-color: #444;
        color: #fff;
        border: none;
        padding: 1rem;
    }
}
.todo-list{
    label.checked{
        text-decoration: line-through;
    }
}